@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: 'Gentium Basic', serif;
}

/* Optional: Make sure all elements are displayed correctly in full screen */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}

.animate-slideUp {
  animation: slideUp 0.5s ease-out;
}
