/* Add the necessary tailwind classes for responsiveness */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gentium+Basic&display=swap');
html, body {
  font-family: 'Gentium Basic', serif;

}

/* Optional: Make sure all elements are displayed correctly in full screen */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}
